# Conditional Statements Practice

1. Eligibility Check:
Write a program that takes the age of a person as input and prints whether they are eligible to vote (18 years or older).

In [4]:
age =int(input('Enter the age'))
if age >=18:
    print('Eligible for voting')
else:
    print('Not Eligible for voting')

Enter the age 18

Eligible for voting

2. Number Classification:
Take a number as input and print whether it is positive, negative, or zero.

In [19]:
num=float(input('Enter the number'))
if num >0:
    print('Positive Number')
elif num <0:
    print('Negative Number')
else:
    print('Zero')

Enter the number -3.8

Negative Number

3. Grade Evaluation

In [20]:
score = float(input('Enter the scores'))
if score >=90:
    print ('You got A grade')
elif score >=80 and score <90:
    print('You got B grade')
elif score >=70 and score <80:
    print('You got C grade')
elif score >=60 and score <70:
    print('You got D grade')
else:
    print('You got F grade')

Enter the scores 76.20

You got C grade

4. Leap Year Checker

In [11]:
year = int(input('Enter a year'))
if year % 4 == 0 and year % 400 == 0:
    print(f'{year}is a leap year')
elif year % 4 ==0 and year % 100 != 0:
    print(f'{year} is a leap year')
else:
    print(f'{year} is not a leap year')

Enter a year 2025

2025 is not a leap year

5. Max of Three Numbers

In [23]:
a=float(input('Enter the number a'))
b=float(input('Enter the number b'))
c=float(input('Enter the number c'))
if a > b and a > c:
    print('a is largest number')
elif b > a and b > c:
    print('b is largest number')
elif c > a and c > b:
    print('c is largest number')
else:
    print ('not defined')

Enter the number a 23
Enter the number b 45.66
Enter the number c -65

b is largest number

6. Even or Odd

In [27]:
num=int(input('Enter the number'))
if num%2==0:
    print(num,'is Even number')
else:
    print(num,'is Odd number')

Enter the number 14

14 is Even number

7. Login System

Create a simple login system that asks for a username and password and checks if they match predefined values. Print “Login Successful” if correct, otherwise “Login Failed.”

In [33]:
Username=input('Enter the username')
Password=int(input('Enter the password'))
if Username=='Akshay' and Password==784180:
                   print('Login Successful')
else:
                   print('Login Failed')

Enter the username Akshay
Enter the password 784180

Login Successful

8. Discount Calculation

Write a program that calculates the final price of an item after applying a discount based on the price:
 Above $100: 20% discount
 $50-$100: 10% discount
 Below $50: No discount

In [45]:
item=float(input('Enter the item price'))
if (item>100):
    print(item*20/100+ item,'is the final price of item')
elif (item>=50) and (item<=100):
    print(item*10/100+item,'is the final price of item')
elif(item<50):
    print('No discount on item and this is final price of item',item)
else:
    print('Not defined')

Enter the item price 298

357.6 is the final price of item

# Basic For Loop Practice Questions

In [46]:
#1. Print Numbers from 1 to 10

In [48]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2.Print Each Character in a String

Ask the user to enter a word and use a for loop to print each character in the word.
Example Input: Hello

In [5]:
for i in 'Hello':
    print(i)

H
e
l
l
o

3. Count Up and Down:
Use a for loop to print numbers from 1 to 5 and then back down to 1.

In [36]:
for i in range(1, 6):
    print(i)

for h in range(4, 0, -1):
    print(h)

1
2
3
4
5
4
3
2
1

Print Elements of a List:
Define a list of fruits (["apple", "banana", "cherry", "date"]) and use a for loop to print each fruit in the list.

In [37]:
o=['apple','banana','cherry','date']

In [38]:
for i in o:
    print(i)

apple
banana
cherry
date

5. Print Even Numbers Between 1 and 10:
Use a for loop to print all even numbers between 1 and 10.

In [2]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

6. Simple Sum of a List:
Write a program that calculates the sum of numbers in a list ([1, 2, 3, 4, 5]) using a for loop.

In [3]:
l=[1,2,3,4,5]

In [4]:
sum=0
for i in l:
    sum=sum+i

In [5]:
sum

15

7. Count Down from 5 to 1:
Use a for loop to print numbers in reverse from 5 to 1.

In [6]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

8. Square Each Number in a List:
Given a list of numbers [1, 2, 3, 4, 5], use a for loop to print the square of each number.

In [7]:
for i in l:
    print(i,i*i)

1 1
2 4
3 9
4 16
5 25

9. Repeat a Word Multiple Times:
Ask the user for a word and a number N. Use a for loop to print the word N times.
Example Input: word = "Hi", N = 3

In [9]:
word=input('Enter the word')
count=int(input('Enter the value'))
for i in range(count):
    print(word)

Enter the word Hi
Enter the value 3

Hi
Hi
Hi